.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);

    display: none;
    align-items: center;
    justify-content: center;

    &__body {
        width: clamp(280px, 60%, calc(100vw - 40px));
    }

    &__header {
        padding: 20px;
        display: flex;
        justify-content: flex-end;
    }

    &__form {
        padding: 20px;
    }

    &--show {
        display: flex;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__send-form {
        margin-top: 25px;
    }

    &__field-input + &__field-input {
        margin-top: 20px;
    }
}

.modal.modal--mobile {

    .modal__header {
        padding: 20px 30px 10px 30px;
    }

    .modal__form {
        padding: 10px 30px 20px 30px;
    }

    .modal__body {
        width: 100%;
    }
}